.navbar{
    height: 5rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    font-size: 1.25rem;
    position: fixed;
    z-index: 40;

    background: transparent;
    backdrop-filter: blur(1.25rem);
    color: white;
}

.pageLink{
    display: flex;
    align-items: center;
}